registry=https://iot-gmbh.pkgs.visualstudio.com/549fe5dc-c867-4162-bc3a-cd99fb0d8860/_packaging/CustomersFeed/npm/registry/ 

always-auth=true

; begin auth token
//iot-gmbh.pkgs.visualstudio.com/549fe5dc-c867-4162-bc3a-cd99fb0d8860/_packaging/CustomersFeed/npm/registry/:username=iot-gmbh
//iot-gmbh.pkgs.visualstudio.com/549fe5dc-c867-4162-bc3a-cd99fb0d8860/_packaging/CustomersFeed/npm/registry/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//iot-gmbh.pkgs.visualstudio.com/549fe5dc-c867-4162-bc3a-cd99fb0d8860/_packaging/CustomersFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//iot-gmbh.pkgs.visualstudio.com/549fe5dc-c867-4162-bc3a-cd99fb0d8860/_packaging/CustomersFeed/npm/:username=iot-gmbh
//iot-gmbh.pkgs.visualstudio.com/549fe5dc-c867-4162-bc3a-cd99fb0d8860/_packaging/CustomersFeed/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//iot-gmbh.pkgs.visualstudio.com/549fe5dc-c867-4162-bc3a-cd99fb0d8860/_packaging/CustomersFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token